footer{
    padding-bottom: 10px;
    margin-top: 75px;
    padding-left: 800px;
    background-color: #E1DEDE;
    border: solid;
}

.col{
    margin-right: 110px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,5.5);
}


nav  h5:hover{
    text-decoration: underline;
    color: #00A6FF;
}


div .card-img{
    height: 350px;
    border-radius: 100%;
}